<<<<<<< Updated upstream
div {
  /* background-color: red; */
=======
.card {
  background-color: lightblue;
  height: 200px;
  flex-grow: 1;
  /* width: 100%; */
  /* margin: 10px; */
>>>>>>> Stashed changes
}
