.card {
  /* height: 180px; */
  width: 250px;
  /* max-width: 500px; */
  /* flex: 1 1 calc(33.33% - 30px);  */
  /* Adjust the width of each card */
  /* max-width: calc(
    33.33% - 30px
  );  */
  /* Ensure each card's width does not exceed one-third of the container's width */
}
/* 
.check {
  justify-content: center;
  align-items: center;
  gap: 4px;
} */
/*  */
