.App {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  height: 50px;
}

.appcontent {
  display: flex;
  /* margin: 10px; */
}
