* {
  box-sizing: border-box;
  text-align: center;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

.main-app {
  display: flex;
  flex: 1;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-y: auto;
}

.header-section {
  background-color: rgb(218, 218, 87);
  font-size: 30px;
  font-weight: bold;
  height: 50px;
  min-height: 50px;
  line-height: 50px;
}

.appcontent {
  display: flex;
  flex: 1;
  height: 100%;
  /* overflow-y: auto; */
}
